@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

input[type="file"] {
  display: none;
}
.custom-file-upload, button {
  /* https://stackoverflow.com/questions/572768/styling-an-input-type-file-button */
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

html {
  font-family: Lato, Cabin, Arial, sans-serif;
}

h1 {
  margin-block: 0;
}

table {
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
}

caption {
  text-align: left;
}

th {
  text-align: left;
  padding: 6px;
}

td.rightj {
  text-align: right;
  padding: 6px;
}
td.leftj {
  text-align: left;
  padding: 6px;
}

.tip-table thead th {
  position: sticky;
  top: 0;
  background: #fff;
}

.tip-table tr:nth-child(odd) {
  background-color: #e6e6fa;
}

.container {
  display: table;
  width: 100%;
}

span {
  display: block;
  overflow: hidden;
  padding: 0 4px 0 6px;
}

div.data {
  padding: 0 3px 3px 0;  /* top | right | bottom | left */
}

div.footer {
  margin: 6px;
  font-family: Helvetica, sans-serif;
}

.ui-dialog .ui-dialog-titlebar-close {
  width: 50px;
}